body {
  margin: 0;
  background-color: dimgrey;
}

h1{
  position: relative;
  text-align: center;
  background: scroll;
  background-color: cadetblue;
  background-color: transparent;
  text-justify: newspaper;
}

p{
  text-align: center;
}

.container {
  background-color: #333;
  padding: 1rem;
  margin-top: 1rem;
  box-sizing: content-box;
  border-radius: 5rem;
}

.draggable {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: move;
}

.draggable.dragging {
  opacity: .5;
}
.reset-button{
  background-color: rgb(236, 250, 112);
  width: 100px;
  margin-left: 44rem;
  margin-top: 2rem;
  cursor: crosshair;
  border-radius: 2rem;
  height: 30px;
}